.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
    height: 300px;
}
.eevee,.vulpix,.jigglypuff{
    border: 2px solid
}